
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ZynAddSubFX-data>
<ZynAddSubFX-data version-major="1" version-minor="1">
<INFORMATION>
<par name="PADsynth_used" value="0" />
</INFORMATION>
<BASE_PARAMETERS>
<par name="max_midi_parts" value="16" />
<par name="max_kit_items_per_instrument" value="16" />
<par name="max_system_effects" value="4" />
<par name="max_insertion_effects" value="8" />
<par name="max_instrument_effects" value="3" />
<par name="max_addsynth_voices" value="8" />
</BASE_PARAMETERS>
<CONFIGURATION>
<string name="state_file">/home/mmxgn/.config/yoshimi/yoshimi.state</string>
<par name="sample_rate" value="48000" />
<par name="sound_buffer_size" value="1024" />
<par name="oscil_size" value="16384" />
<par name="bank_window_auto_close" value="0" />
<par name="check_pad_synth" value="1" />
<string name="bank_current">/usr/local/share/yoshimi/banks/Arpeggios</string>
<par name="virtual_keyboard_layout" value="1" />
<BANKROOT id="0">
<string name="bank_root">/home/mmxgn/dev/synthesis/ebm/instruments/</string>
</BANKROOT>
<PRESETSROOT id="0">
<string name="presets_root">/usr/share/yoshimi/presets</string>
</PRESETSROOT>
<par name="interpolation" value="1" />
<string name="linux_alsa_audio_dev">default</string>
<string name="linux_alsa_midi_dev">default</string>
<string name="linux_jack_server">default</string>
</CONFIGURATION>
</ZynAddSubFX-data>
